.category{
    padding:50px;
}

.category h2{
    margin-bottom:30px;
}

.category-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.category-card{
    background:white;
    padding:40px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
    cursor:pointer;
    transition:.3s;
}

.category-card:hover{
    transform:translateY(-8px);
}